@page

@{
	ViewData["Title"] = "Redefinição de Senha Realizada com Sucesso!";
}

<h1>@ViewData["Title"]</h1>

<p>
	A redefinição de sua senha foi realizada com sucesso! Para pode fazer login agora, basta <a href="/Login">clicar aqui</a>
</p>

<p>
	<a class=" btn btn-outline-success" href="/Login">Clique aqui para fazer login!</a>
</p>