@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to HortiFruti Reis</h1>
	<p>A Hortifruti que coloca açúcar no mamão.</p>
</div>

<div class="row">
	@foreach (var product in Model.Products)
	{
		<div class="col-sm-4">
			<div>

			</div>
		</div>
	}
</div>