@page
@model HortifrutiWebApp.Pages.NewClientModel
@{
	ViewData["Title"] = "Novo Cliente";
}

<div class="row justify-content-md-center">
	<div class="col-sm-12">
		<h1>@ViewData["Title"]</h1>
		<h4>Preencha os deus dados</h4>
		<hr />
		<form method="post" class="mt-3">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<fieldset>
						<legend>Dados Pessoais</legend>
						<div class="form-group">
							<label asp-for="Client.Name" class="control-label"></label>
							<input asp-for="Client.Name" class="form-control col-12" />
							<span asp-validation-for="Client.Name" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Client.LastName" class="control-label"></label>
							<input asp-for="Client.LastName" class="form-control col-12" />
							<span asp-validation-for="Client.LastName" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Client.Cpf" class="control-label"></label>
							<span>(somente números)</span>
							<input asp-for="Client.Cpf" class="form-control col-6 col-lg-4" />
							<span asp-validation-for="Client.Cpf" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Client.Birthday" class="control-label"></label>
							<input asp-for="Client.Birthday" class="form-control col-6 col-lg-4" />
							<span asp-validation-for="Client.Birthday " class="text-danger"></span>
						</div>
					</fieldset>
					<fieldset>
						<legend>Contatos</legend>
						<div class="form-group">
							<label asp-for="Client.Email" class="control-label"></label>
							<input asp-for="Client.Email" class="form-control col-12 col-lg-8"
								   autocomplete="off" />
							<span asp-validation-for="Client.Email " class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Client.Phone" class="control-label"></label>
							<span>(com DDD, somente números)</span>
							<input asp-for="Client.Phone" class="form-control col-6 col-lg-4" placeholder="1234567891011" />
							<span asp-validation-for="Client.Phone " class="text-danger"></span>
						</div>
					</fieldset>
				</div>
				<div class="col-sm-12 col-md-6">
					<fieldset>
						<legend>Endereço</legend>
						<div class="form-group">
							<label asp-for="Client.Address.Cep" class="control-label"></label>
							<span>(somente números)</span>
							<div class="input-group">
								<input asp-for="Client.Address.Cep" class="form-control col-6 col-lg-4" />
								<div class="input-group-append">
									<span class="input-group-text p-1">
										<i class="fi-xnsrls-loading d-none" id="cep_loading"></i>
										<i class="fi-xwsuxl-check d-none" id="cep_checked"></i>
										<i class="fi-xwsuxl-times-wide" id="cep_none"></i>
									</span>
								</div>
							</div>
							<span class="text-muted d-block" id="address">Digite um CEP válido e aguarde um instante.</span>
							<span asp-validation-for="Client.Address.Cep" class="text-danger"></span>
							<input type="hidden" asp-for="Client.Address.Street" value="" />
							<span asp-validation-for="Client.Address.Street" class="text-danger"></span>
							<input type="hidden" asp-for="Client.Address.Neighborhood" value="" />
							<input type="hidden" asp-for="Client.Address.City" value="" />
							<input type="hidden" asp-for="Client.Address.State" value="" />
						</div>
						<div class="form-group">
							<label asp-for="Client.Address.Number" class="control-label"></label>
							<input asp-for="Client.Address.Number" class="form-control col-6 col-lg-4" />
							<span asp-validation-for="Client.Address.Number" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Client.Address.Complement" class="control-label"></label>
							<input asp-for="Client.Address.Complement" class="form-control col-12 col-lg-8" />
							<span asp-validation-for="Client.Address.Complement" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Client.Address.Reference" class="control-label"></label>
							<input asp-for="Client.Address.Reference" class="form-control col-12 col-lg-8" />
							<span asp-validation-for="Client.Address.Reference" class="text-danger"></span>
						</div>
					</fieldset>
					<fieldset>
						<legend>Senha de Acesso</legend>
						<div class="form-group">
							<label asp-for="UserPasswords.Password" class="control-label"></label>
							<input asp-for="UserPasswords.Password" class="form-control col-6 col-lg-5"
								   autocomplete="off" />
							<span asp-validation-for="UserPasswords.Password" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="UserPasswords.ConfirmationPassword" class="control-label"></label>
							<input asp-for="UserPasswords.ConfirmationPassword" class="form-control col-6 col-lg-5" placeholder="Confirme a sua senha"
								   autocomplete="off" />
							<span asp-validation-for="UserPasswords.ConfirmationPassword" class="text-danger"></span>
						</div>
					</fieldset>
				</div>
			</div>
			<hr />
			<div class="form-group text-left">
				<a asp-page="/Index" class="btn btn-info">Cancelar</a>
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	@{ await Html.RenderPartialAsync("_CustomConfirm");}
	@{ await Html.RenderPartialAsync("_ConsultCEP");}
}
