@page
@{
	ViewData["Title"] = "E-mail de Recuperação de Senha Enviado!";
}

<h1>@ViewData["Title"]</h1>

<p>As instruções para a recuperação da sua senha foram enviadas para o e-mail informado, basta segui-lás e poderá acessar novamente. 
	Caso não tenha recebido uma mensagem em seu e-mail com o link de redefinição de senha, verifique se o e-mail informado é o mesmo que usou para cadastrar
	a sua conta.</p>