@page
@model HortifrutiWebApp.Pages.RedefinePasswordModel
@{
	ViewData["Title"] = "Redefinição de Senha";
}


<div class="row justify-content-center">
	<form class="form-signin align-self-center" method="post" asp-page="/ForgotPassword">
		<h1 class="mt-5 mb-3 font-weight-normal">Recuperação de Senha</h1>

		<style type="text/css">
			.val-summary ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
		</style>

		<div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3"></div>

		<input type="hidden" asp-for="Data.Token" />

		<input asp-for="Data.Email" class="form-control" placeholder="Digite aqui o seu e-mail" required autofocus />
		<span asp-validation-for="Data.Email" class="text-danger"></span>

		<input asp-for="Data.Password" class="form-control mt-3" placeholder="Digite aqui a sua nova senha" required />
		<span asp-validation-for="Data.Password" class="text-danger"></span>

		<input asp-for="Data.ConfirmationPassword" class="form-control mt-3" placeholder="Confirme aqui a sua nova senha" />
		<span asp-validation-for="Data.ConfirmationPassword" class="text-danger"></span>

		<button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Redefinir Senha</button>
	</form>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
