@page
@{
	ViewData["Title"] = "Cadastro Realizado com Sucesso";
}
<h1>@ViewData["Title"]</h1>

<p>
	Seus dados foram salvos com sucesso, agora já pode fazer Login!
</p>
<p>
	<a class="btn btn-outline-success" href="/Login">Login</a>
</p>