@page
@{
	ViewData["Title"] = "Cadastro Realizado com Sucesso";
}
<h1>@ViewData["Title"]</h1>

<h4>Quase lá, só falta confirmar o seu e-mail.</h4>

<p>
	Seus dados foram salvos com sucesso!<br>
	Para fazer login, é preciso primeiro realizar a confirmação de se e-mail. Basta acessar sua caixa de e-mails e seguir as instruções que acabamos de te enviar.
</p>
