@page
@model HortifrutiWebApp.Pages.Products.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4><b>Código: </b> @Model.Product.ProductId.ToString("D6")</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Product.ProductId" />
			<div class="form-group">
				<label asp-for="Product.Name" class="control-label"></label>
				<input asp-for="Product.Name" class="form-control" />
				<span asp-validation-for="Product.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Product.Descrition" class="control-label"></label>
				<input asp-for="Product.Descrition" class="form-control" />
				<span asp-validation-for="Product.Descrition" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Product.Price" class="control-label"></label>
				<input asp-for="Product.Price" class="form-control" />
				<span asp-validation-for="Product.Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Product.Stock" class="control-label"></label>
				<input asp-for="Product.Stock" class="form-control" />
				<span asp-validation-for="Product.Stock" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageProduct" class="control-label"></label>
				<div class="custom-file col-4 d-block">
					<input asp-for="ImageProduct" class="custom-file-input" accept="image/*" />
					<label class="custom-file-label">Clique aqui para alterar a imagem.</label>
				</div>
				<span asp-validation-for="ImageProduct" class="text-danger"></span>
			</div>
			<div class="form-group">
				<img src="@Model.ImagePath" class="image-thumbnail" asp-append-version="true"
					 style="max-height:300px;max-width:300px;border:solid 1px gray; border-radius:5px;" />
			</div>
			<div class="form-group text-left">
				<a asp-page="./Index" class="btn btn-info">Cancelar</a>
				<input type="submit" value="Edit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
