<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hortifruti Reis :: @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-primary border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">HortifrutiWebApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" asp-area="" asp-page="/Index">Home</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" asp-area="" asp-page="/Admin">Administração</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" asp-area="" asp-page="/Privacy">Política de Privacidade</a>
						</li>
					</ul>
					<div class="align-self-end">
						<partial name="_LoginLinks" />
					</div>
					<div class="align-self-end">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" style="color: #F5F5F5; font-size: 16px;" id="shoppingCart" asp-page="/ShoppingCart">
									<svg class="bi" width="24" height="24" fill="currentColor">
										<use xlink:href="/icons.svg#cart3" />
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<partial name="_CookieConsentPartial" />
		<main role="main" class="pb-5">
			@RenderBody()
		</main>
	</div>

	<footer class="footer bg-light text-center p-4 fixed-bottom">
		<div class="container">
			<div class="col-8 col-sm-8">
				&copy; 2023 - Hortifruti Reis - <a asp-area="" asp-page="/Privacy">Política Privacidade</a>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>